﻿@model NabeWebDriver.Models.SearchConditionModel


@using (Html.BeginForm("Search", "Search")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>検索条件</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthdayFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthdayFrom)
            @Html.ValidationMessageFor(model => model.BirthdayFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoneyFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoneyFrom)
            @Html.ValidationMessageFor(model => model.MoneyFrom)
        </div>

        <p>
            <input type="submit" value="検索" />
        </p>
    </fieldset>
}
