﻿@model IEnumerable<NabeWebDriver.Models.SearchResultModel>

@if(Model.Any()) {
  <h2>検索結果</h2>
  <div id="results">
    <table>
      <tr>
        <th>
          Name
        </th>
        <th>
          Birthday
        </th> 
        <th>
          Money
        </th>
      </tr>

    @foreach (var item in Model) {
      <tr id="roop">
        <td id="resultName">
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td id="resultBirthday">
          @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td id="resultMoney">
          @Html.DisplayFor(modelItem => item.Money)
        </td>
      </tr>
    }

    </table>
  </div>
}
