﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
  <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
</head>
<body>
  <div class="page">
      <header>
      <div id="title">
        <h1>鍋駆動テスト冬の陣～Selenium WebDriver Sample～</h1>
      </div>
      <nav>
        <ul id="menu">
          <li>@Html.ActionLink("検索画面", "Index", "Search")</li>
          <li>@Html.ActionLink("メニュー", "Index", "Home")</li>
        </ul>
      </nav>
    </header>
      <section id="main">
        @RenderBody()
      </section>
      <footer>
      </footer>
  </div>
</body>
</html>
